.about-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
  overflow: hidden;
}

.about-img {
  height: 700px;
  width: 55%;
  z-index: -1;
  position: relative;
  left: 4rem;
  top: 4rem;
}

/*
div {
  text-align: center;
  padding: 0 3rem 0 6rem;
}*/

.container h1 {
  font-family: "Silkscreen", cursive;
  font-size: 5rem;
}
