.intro {
  height: 50vh;
  width: 100vw;
  overflow: hidden;
}

.intro-img {
  /*background: url("")*/
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  /*ev lägga på opacity*/
}
