/*.intro {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
kanske inte använda
*/

.intro-img {
  background-color: #caf3e5;
  /*background: url("")*/
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  /*ev lägga på opacity, ev justera height*/
}

.cta {
  background-color: white;
  margin: 3rem 0 3rem 0;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
