/*Global styles*/
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /*1rem = 16px 10px/16px = 62.5%*/
  font-size: 62.5%;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Space Mono", monospace;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4;
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: 1px;
}

h2 {
  font-size: 3rem;
}

.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
}

.content {
  margin: 15% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 50vw;
  padding: 2rem;
  position: relative;
}

:root {
  --colorShadeA: #6b07bc;
  --colorShadeB: #6608b2;
  --colorShadeC: #b772fc;
  --colorShadeD: #d2a9fc;
  --colorShadeE: #e8d1ff;

  --surface-color: #fff;
  --curve: 40;
}

.modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  position: relative;
  bottom: 33rem;
  right: 35rem;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--colorShadeA);
}

.btn {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  /*https://www.w3schools.com/cssref/func_cubic-bezier.asp*/
}

.btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn:hover {
  background-color: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

.btn:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.btn:active {
  transform: translate(0, 0.75em);
}

.btn:active::before {
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
}

.content {
  margin: 15% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 50vw;
  height: 30vh;
  padding: 2rem;
  position: relative;
}

@media screen and (min-width: 1500px) and (max-width: 1600px) {
  .buttons {
    right: 25rem;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .buttons {
    bottom: 53rem;
    right: 21rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .buttons {
    right: 19rem;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1150px) {
  .buttons {
    bottom: 50rem;
    right: 15rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1050px) {
  .buttons {
    bottom: 10rem;
    right: 1rem;
  }
}
